@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
}

body{
    background-color: rgb(132, 0, 255);
}
/*nav-bar style */

.navbar{
    position: fixed;
    width: 100%;
    background: rgb(128, 0, 117);
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0px;
}

.max-width{
    max-width: 1200px;
    padding: 0px 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
}
.navbar .name a{
    color: black;
    font-size: 30px;
    font-weight: 700;
    
}

.navbar .menu li a{
    display:inline-block;
    font-size: 15px;
    font-weight: 500px;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
   color: white;
}

.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/*home section style*/

.home{
    display: flex;
    background: url('images/Profile\ picture.jpg') no-repeat center; /* needs to be changed with a profesional picture */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 200px;
    font-family: 'Ubuntu', sans-serif;

}

.home .max-width{
    margin: auto 0 auto 45px;
}

.home .home-content .text-1{
    font-size: 30px;

}

.home .home-content .text-2{
    font-size: 70px;
    font-weight: 500px;
    margin-left: -5px;

}
.home .home-content .text-3{
    font-size: 35px;
    margin:10px 0;


}